.card {
  height: 100%;
  transition: 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
  border: 3px solid rgb(0, 57, 229);
  cursor: pointer;
}

/* .list-scroll {
  height: "200px";
  overflow-y: scroll;
} */